# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# CMakelists
!CMakeLists.txt

# beta vector
!convergedBetaVector104PosesHardwareTrained.txt

# params
!params.cfg

# src
!/src/
/src/*
!/src/balancing.h
!/src/file_ops.cpp
!/src/file_ops.hpp
!/src/helpers.cpp
!/src/helpers.h
!/src/simTab.h
!/src/utils.h
!/src/balancing_config.h
!/src/balancing_config.cpp
!/src/arms.h
!/src/arms.cpp
!/src/waist.h
!/src/waist.cpp

# exe
!/exe/
/exe/*
!/exe/01-balancing.cpp
