# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# CMakelists
!CMakeLists.txt
!/cmake/
/cmake/*
!/cmake/cmake_uninstall.cmake.in

# params
!/cfg/
/cfg/*
!/cfg/balancing_params.cfg
!/cfg/balancing_params_simulation.cfg

# docs
!/doc/
/doc/*
!/doc/verification_checklist

# include
!/include/
/include/*
!/include/balancing/
/include/balancing/*
!/include/balancing/arms.h
!/include/balancing/balancing.h
!/include/balancing/balancing_config.h
!/include/balancing/control.h
!/include/balancing/events.h
!/include/balancing/grippers.h
!/include/balancing/joystick.h
!/include/balancing/keyboard.h
!/include/balancing/torso.h
!/include/balancing/waist.h

# src
!/src/
/src/*
!/src/helpers.cpp
!/src/balancing_config.cpp
!/src/arms.cpp
!/src/waist.cpp
!/src/grippers.cpp
!/src/torso.cpp
!/src/joystick.cpp
!/src/keyboard.cpp
!/src/events.cpp
!/src/control.cpp

# exe
!/exe/
/exe/*
!/exe/01-balancing.cpp
!/exe/02-joystick_testing.cpp
