urdfpath = "/home/munzir/Documents/Software/project/krang/09-URDF/Krang/Krang.urdf";
comParametersPath = "/home/munzir/Documents/Software/project/krang/18-OnlineCoM/betaConvergence/bestBetaVector.txt";
pdGainsGroundLo = "0 0 0 -10 0 -15"; # th, dth, x, dx, psi, dpsi
pdGainsStand = "277.4 61.889 7.4484 18.235 0 0";
pdGainsSit = "250 40 0 0 0 0";
pdGainsBalLo = "277.4 61.889 7.4484 18.235 -0 -10";
pdGainsBalHi = "500 90 0.5 5 -0 -5";
pdGainsGroundHi = "0 0 0 -10 0 -25";
joystickGainsGroundLo = "2 -1.3";
joystickGainsStand = "0 0";
joystickGainsSit = "0 0";
joystickGainsBalLo = "2 -1.3";
joystickGainsBalHi = "2 -1.3";
joystickGainsGroundHi = "2 -1.3";
dynamicLQR = "true";
lqrQ = "4.9752e+6 2.7930e+7 9.1373e+7 1.3830e+5";
lqrR = "4.3896e+6";
imuSitAngle = "-101.0"; # (degrees) if angle < value, SIT mode transitions to GROUND LO
toBalThreshold = "5"; # (degrees) if CoM angle err < value, STAND mode transitions to BAL LO
manualArmLockUnlock = "false"; # true, manually lock/unlock based on keyb/joys,
                               # false, automatically lock/unlock based on motor cmds
